    #Week One Execises

Opgave 1.A

In [14]:
names = ["Hans","Dorte","Thea","Ola","Hugo","Helene","Lars","Franz"
h_names = [theName for theName in names if theName[0] == "H"]
print(h_names)

Hans
Hugo
Helene
['Hans', 'Hugo', 'Helene']

In [11]:
range_list = list(num**3 for num in range(1,101))
print(range_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

Opgave 1.C

In [21]:
lengthList = list((len(names),name) for name in names)

print(listForTuples)

[(4, 'Hans'), (5, 'Dorte'), (4, 'Thea'), (3, 'Ola'), (4, 'Hugo'), (6, 'Helene'), (4, 'Lars'), (5, 'Franz')]

Opgave 1.D

In [27]:
string = "ad12agj4i5ane6f3e7owzpmr"
numbersInString = [number for number in string if number.isnumeric()]

print(numbersInString)

['1', '2', '4', '5', '6', '3', '7']

Opgave 1.E

In [6]:
dice1 = list(range(1,7))
dice2 = list(range(1,7))
set1 = [(dice1[i], dice2[j]) for i in range(len(dice1)) for j in range(len(dice2))]

print(set1)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

Opgave 2.A

In [7]:
newnames = ["Hans","Dorte","Thea","Ola","Hugo","Helene","Lars","Franz","Bo","Hanne"]
listForDics = {newnames[i]: len(newnames[i]) for i in range(len(newnames))}

    
print(listForDics)

{'Hans': 4, 'Dorte': 5, 'Thea': 4, 'Ola': 3, 'Hugo': 4, 'Helene': 6, 'Lars': 4, 'Franz': 5, 'Bo': 2, 'Hanne': 5}

Opgave 2.B

In [8]:
numberList = list(range(10))

listOfDics = {numberList[i]:(numberList[i])**2 for i in range(len(numberList))}

print(listOfDics)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}